$color-blue-primary: rgb(107, 180, 244);
$color-blue-primary-darken: rgb(83, 139, 208);
$color-blue-primary-lighten: rgb(225, 246, 255);
$color-blue-primary-inactive: rgba(129, 162, 202, 0.7);
$color-blue-primary-focus: rgb(83, 95, 109);
$color-blue-primary-back: rgba(106, 145, 181, 0.15);
$color-green-primary: rgb(123, 228, 106);
$color-green-primary-darken: rgb(93, 163, 82);
$color-green-primary-lighten: rgb(218, 255, 231);
$color-green-primary-back: rgba(123, 228, 106, 0.15);

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
