.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin: 0 5% 25vh 5%;
    text-align: right;
    font-size: 2.3rem;
    line-height: 1.5;
    font-weight: 500;
    word-break: keep-all;
  }

  &__profile-summary {
    color: rgb(122, 122, 122);
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    text-align: right;
  }
}
