.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  &__snapshot-list {
    margin-left: 3rem;
  }

  &__snapshot {
    display: none;
    width: 100%;
    max-height: calc(50vh - 3rem);

    &.active {
      display: block;
    }
  }

  &__description {
    display: none;

    &.active {
      display: block;
    }
  }
}
