@import './mixin';

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 8rem;

  &__intro {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    width: 80vw;
    max-width: 50rem;
    margin-bottom: 10vh;

    @include mobile {
      flex-direction: column;
    }
  }

  &__image {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    margin-top: 2rem;
  }

  &__intro-text {
    flex-grow: 1;
    line-height: 1.4;
    margin: 0;
  }

  &__additional {
    width: 80vw;
    max-width: 50rem;
    text-align: left;
  }

  &__edu--first {
    @include para-tag('교육 내역');
  }

  &__skill--first {
    @include para-tag('기술 스택');
  }

  &__skill {
    width: 7.5rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-bottom: 1px solid $color-blue-primary-back;
  }

  &__skill-icon {
    height: 1.25rem;
  }
}
