.project-list {
  &__album {
    display: grid;
    width: 100%;
    height: 45%;
    margin-top: 3rem;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    overflow-x: auto;
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
  }

  &__skill-list {
    display: none;

    &.active {
      display: flex;
    }
  }

  &__description {
    display: none;

    &.active {
      display: flex;
    }
  }
}
