@import '_mixin';

.project {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__slide-bar {
    position: relative;
    width: 12rem;
    height: 3rem;
    margin-left: 18rem;

    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 1rem;
      height: 100%;

      @include two-color-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0),
        90deg
      );
    }
    &::after {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      width: 1rem;
      height: 100%;

      @include two-color-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0),
        270deg
      );
    }
  }

  &__link-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    gap: 0.7rem;

    @include hidden-scroll;
  }

  &__link {
    font-size: 1.5rem;
    word-break: keep-all;
    cursor: pointer;
    transition: all 0.35s ease;

    &:hover {
      letter-spacing: 0.3rem;
    }
  }

  &__scroll-helper {
    flex: 0 0 50%;
  }

  &__snapshot-list {
    margin-left: 3rem;
  }

  &__snapshot {
    display: none;
    width: 100%;
    max-height: calc(50vh - 3rem);
    object-fit: contain;

    &.active {
      display: block;
    }
  }

  &__description {
    display: none;
    margin-left: 3rem;
    font-size: 1.4rem;
    line-height: 1.5;

    &.active {
      display: block;
    }
  }
}
