@import 'normalize.css';

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.close-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3rem;
  height: 3rem;
  background-color: rgb(146, 185, 234);
  z-index: 1;
}

.close-box__slash {
  position: absolute;
  width: 1.7rem;
  height: 0;
  border-bottom: 2px solid rgb(47, 74, 107);
  transition: all 0.2s ease;
}

.close-box__upper-slash {
  top: 0.85rem;
  left: 0.65rem;
  transform-origin: 10.5% 0;
}
.close-box__middle-slash {
  top: 1.5rem;
  left: 0.65rem;
}
.close-box__bottom-slash {
  top: 2.15rem;
  left: 0.65rem;
  transform-origin: 10.5% 0;
}

.close-box.open > .close-box__upper-slash {
  transform: rotate(45deg) scaleX(1.41);
}
.close-box.open > .close-box__middle-slash {
  transform: rotate(-45deg) scaleX(1.41);
}
.close-box.open > .close-box__bottom-slash {
  transform: rotate(-45deg) scaleX(1.41);
}

.sidebar__inner {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar__inner::-webkit-scrollbar {
  display: none;
}

.sidebar-item {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem 0 0.5rem 3.5rem;
  font-size: 2rem;
  scroll-snap-align: start;
}
.sidebar-item.active {
  color: rgb(83, 139, 208);
}

.sidebar-item > a {
  display: flex;
  cursor: pointer;
  user-select: none;
  transition: all 0.35s ease;
  transform: translateX(-15.7rem);
}
.sidebar-item__0 > a {
  transform: translateX(0rem);
  flex-grow: 1;
}
.sidebar-item__1 > a {
  transform: translateX(-10rem);
}
.sidebar-item__2 > a {
  transform: translateX(-13rem);
}
.sidebar-item__3 > a {
  transform: translateX(-14.4rem);
}
.sidebar-item__4 > a {
  transform: translateX(-15rem);
}
.sidebar-item__-1 > a {
  transform: translateX(-10rem);
}
.sidebar-item.open > a {
  transform: translateX(-3rem);
}
.sidebar-item > a:hover {
  transform: translateX(-3rem);
  flex-grow: 1;
}
.sidebar-item__0 > a:hover {
  transform: translateX(1rem);
}
.sidebar-item__0.open > a {
  flex-grow: 0;
}
.sidebar-item__0.open > a:hover {
  transform: translateX(0rem);
  flex-grow: 1;
}

.sidebar__scroll-helper {
  height: calc(100% - 2.3rem);
}

.main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
