@import 'normalize.css';

html,
body {
  overscroll-behavior-y: contain;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.close-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3rem;
  height: 3rem;
  background-color: rgb(146, 185, 234);
  z-index: 1;
}

.close-box__slash {
  position: absolute;
  width: 1.7rem;
  height: 0;
  border-bottom: 2px solid rgb(47, 74, 107);
  transition: all 0.2s ease;
}

.close-box__upper-slash {
  top: 0.85rem;
  left: 0.65rem;
  transform-origin: 10.5% 0;
}
.close-box__middle-slash {
  top: 1.5rem;
  left: 0.65rem;
}
.close-box__bottom-slash {
  top: 2.15rem;
  left: 0.65rem;
  transform-origin: 10.5% 0;
}

.close-box.open > .close-box__upper-slash {
  transform: rotate(45deg) scaleX(1.41);
}
.close-box.open > .close-box__middle-slash {
  transform: rotate(-45deg) scaleX(1.41);
}
.close-box.open > .close-box__bottom-slash {
  transform: rotate(-45deg) scaleX(1.41);
}

.sidebar__inner {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar__inner::-webkit-scrollbar {
  display: none;
}

.sidebar-item {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem 0 0.5rem 3.5rem;
  font-size: 2rem;
  scroll-snap-align: start;
}
.sidebar-item.active {
  color: rgb(83, 139, 208);
}

.sidebar-item > a {
  display: flex;
  cursor: pointer;
  user-select: none;
  transition: all 0.35s ease;
  transform: translateX(-15.7rem);
}
.sidebar-item__0 > a {
  transform: translateX(0rem);
  flex-grow: 1;
}
.sidebar-item__1 > a {
  transform: translateX(-10rem);
}
.sidebar-item__2 > a {
  transform: translateX(-13rem);
}
.sidebar-item__3 > a {
  transform: translateX(-14.4rem);
}
.sidebar-item__4 > a {
  transform: translateX(-15rem);
}
.sidebar-item__-1 > a {
  transform: translateX(-10rem);
}
.sidebar-item.open > a {
  transform: translateX(-3rem);
}
.sidebar-item > a:hover {
  transform: translateX(-3rem);
  flex-grow: 1;
}
.sidebar-item__0 > a:hover {
  transform: translateX(1rem);
}
.sidebar-item__0.open > a {
  flex-grow: 0;
}
.sidebar-item__0.open > a:hover {
  transform: translateX(0rem);
  flex-grow: 1;
}

.sidebar__scroll-helper {
  height: calc(100% - 2.3rem);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.scroll-container {
  position: fixed;
  top: 0;
  right: 0;
}

.scroll-indicator {
  position: fixed;
  top: 0;
  right: -4rem;
  width: 5rem;
  height: 100%;
  transition: all 0.3s ease-out;
}
.scroll-indicator--level0 {
  transform: skewX(0deg);
}
.scroll-indicator--level1 {
  transform: skewX(-0.5deg);
}
.scroll-indicator--level2 {
  transform: skewX(-1deg);
}
.scroll-indicator--level3 {
  transform: skewX(-1.5deg) translateX(0.1rem);
}
.scroll-indicator--level4 {
  transform: skewX(-2.2deg) translateX(0.15rem);
}
.scroll-indicator--level5 {
  transform: skewX(-3deg) translateX(0.2rem);
}
.scroll-indicator--level6 {
  transform: skewX(-3.8deg) translateX(0.3rem);
}
.scroll-indicator--level7 {
  transform: skewX(-5deg) translateX(0.43rem);
}
.scroll-indicator--level8 {
  transform: skewX(-6.5deg) translateX(0.6rem);
}
.scroll-indicator--level-1 {
  transform: skewX(0.5deg);
}
.scroll-indicator--level-2 {
  transform: skewX(1deg);
}
.scroll-indicator--level-3 {
  transform: skewX(1.5deg) translateX(0.1rem);
}
.scroll-indicator--level-4 {
  transform: skewX(2.2deg) translateX(0.15rem);
}
.scroll-indicator--level-5 {
  transform: skewX(3deg) translateX(0.2rem);
}
.scroll-indicator--level-6 {
  transform: skewX(3.8deg) translateX(0.3rem);
}
.scroll-indicator--level-7 {
  transform: skewX(5deg) translateX(0.43rem);
}
.scroll-indicator--level-8 {
  transform: skewX(6.5deg) translateX(0.6rem);
}

.scroll-indicator__static {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 100%;
}

.indicator {
  position: absolute;
  width: 100%;
  height: 100%;
}
.indicator__next {
  background: rgb(225, 246, 255);
  background: linear-gradient(
    0deg,
    rgb(213, 239, 251) 0%,
    rgb(91, 174, 247) 100%
  );
  opacity: 0.5;
}
.indicator__prev {
  background: rgb(123, 228, 106);
  background: linear-gradient(
    0deg,
    rgba(123, 228, 106, 1) 0%,
    rgba(218, 255, 231, 1) 100%
  );
  opacity: 0.5;
}

.scroll-indicator--level1 > .indicator__next {
  opacity: 0.47;
}
.scroll-indicator--level2 > .indicator__next {
  opacity: 0.43;
}
.scroll-indicator--level3 > .indicator__next {
  opacity: 0.38;
}
.scroll-indicator--level4 > .indicator__next {
  opacity: 0.32;
}
.scroll-indicator--level5 > .indicator__next {
  opacity: 0.25;
}
.scroll-indicator--level6 > .indicator__next {
  opacity: 0.17;
}
.scroll-indicator--level7 > .indicator__next {
  opacity: 0.08;
}
.scroll-indicator--level8 > .indicator__next {
  opacity: 0;
}
.scroll-indicator--level-1 > .indicator__prev {
  opacity: 0.47;
}
.scroll-indicator--level-2 > .indicator__prev {
  opacity: 0.43;
}
.scroll-indicator--level-3 > .indicator__prev {
  opacity: 0.38;
}
.scroll-indicator--level-4 > .indicator__prev {
  opacity: 0.32;
}
.scroll-indicator--level-5 > .indicator__prev {
  opacity: 0.25;
}
.scroll-indicator--level-6 > .indicator__prev {
  opacity: 0.17;
}
.scroll-indicator--level-7 > .indicator__prev {
  opacity: 0.08;
}
.scroll-indicator--level-8 > .indicator__prev {
  opacity: 0;
}
