@import '_mixin';

html,
body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  overscroll-behavior-y: contain;
}

img.loading {
  background-image: linear-gradient(
    90deg,
    rgba(106, 145, 181, 0.15) 0%,
    rgba(240, 245, 252, 0.4) 30%,
    rgba(106, 145, 181, 0.15) 60%
  );
  animation: 4s loadingSkeleton forwards infinite linear;
}

.app {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 0;
  height: 100%;
  overflow-x: visible;

  &__inner {
    width: 18rem;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y proximity;

    @include hidden-scroll;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: -18rem;
      width: 18rem;
      height: 100%;
      transition: all 0.35s ease;
      transform: translateX(0rem);

      @include two-color-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0),
        90deg,
        90%
      );
    }

    &.open {
      position: relative;

      &::before {
        transform: translateX(18rem);
      }
    }
  }

  &__scroll-helper {
    height: calc(100% - 2.3rem);
  }

  svg {
    width: 2rem;
    height: 2rem;
    margin: 0.2rem 0.2rem 0 0.7rem;
  }
}

.sidebar-item {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.4rem 0 0.4rem 3.5rem;
  font-size: 2rem;
  scroll-snap-align: start;
  color: rgba(129, 162, 202, 0.7);

  &.active {
    color: rgb(83, 139, 208);
  }

  &.open {
    > a {
      transform: translateX(-3rem);
    }

    svg {
      transform: scale(1);
    }
  }

  &:hover,
  &.open {
    color: rgb(83, 95, 109);

    &.active {
      color: rgb(83, 139, 208);
    }
  }

  > a {
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: all 0.35s ease;
    transform: translateX(-15.7rem);

    &:hover {
      transform: translateX(-3rem);
      flex-grow: 1;

      > svg {
        transform: scale(1);
      }
    }

    > svg {
      transition: all 0.35s ease;
      transform: scale(0.7);
    }
  }

  &__0 {
    > a {
      transform: translateX(0rem);
      flex-grow: 1;

      &:hover {
        transform: translateX(-1rem);
      }

      > svg {
        transform: scale(1);
      }
    }

    &.open > a {
      flex-grow: 0;

      &:hover {
        transform: translateX(0rem);
        flex-grow: 1;
      }
    }
  }
  &__1 > a {
    transform: translateX(-10rem);

    > svg {
      transform: scale(0.9);
    }
  }
  &__2 > a {
    transform: translateX(-12.7rem);

    > svg {
      transform: scale(0.8);
    }
  }
  &__3 > a {
    transform: translateX(-14.5rem);

    > svg {
      transform: scale(0.75);
    }
  }
  &__4 > a {
    transform: translateX(-15.3rem);

    > svg {
      transform: scale(0.72);
    }
  }
  &__-1 > a {
    transform: translateX(-10rem);

    > svg {
      transform: scale(0.9);
    }
  }
}

.close-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3rem;
  height: 3rem;
  background-color: rgb(146, 185, 234);
  z-index: 11;

  &__slash {
    position: absolute;
    width: 1.7rem;
    height: 0;
    border-bottom: 2px solid rgb(47, 74, 107);
    transition: all 0.2s ease;
  }

  &__upper-slash {
    top: 0.85rem;
    left: 0.65rem;
    transform-origin: 10.5% 0;
  }
  &__middle-slash {
    top: 1.5rem;
    left: 0.65rem;
  }
  &__bottom-slash {
    top: 2.15rem;
    left: 0.65rem;
    transform-origin: 10.5% 0;
  }

  &.open {
    .close-box {
      &__upper-slash {
        transform: rotate(45deg) scaleX(1.41);
      }
      &__middle-slash {
        transform: rotate(-45deg) scaleX(1.41);
      }
      &__bottom-slash {
        transform: rotate(-45deg) scaleX(1.41);
      }
    }
  }
}

.main {
  left: 3rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;

  @include hidden-scroll;
}

.scroll-container {
  position: fixed;
  top: 0;
  right: 0;

  &--horizon {
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
  }

  > .scroll-indicator {
    position: fixed;
    top: 0;
    right: -4rem;
    width: 5rem;
    height: 100%;
    transition: all 0.3s ease-out;

    &--horizon {
      top: auto;
      right: auto;
      height: auto;
      left: 0;
      bottom: -4rem;
      height: 5rem;
      width: 100%;
    }

    &.inactive {
      display: none;
    }

    &--level0 {
      transform: skewX(0deg);
      &--horizon {
        transform: skewY(0deg);
      }
    }
    &--level1 {
      transform: skewX(-0.5deg);
      &--horizon {
        transform: skewY(-0.5deg);
      }

      > .indicator__next {
        opacity: 0.47;
      }
    }
    &--level2 {
      transform: skewX(-1deg);
      &--horizon {
        transform: skewY(-1deg);
      }

      > .indicator__next {
        opacity: 0.43;
      }
    }
    &--level3 {
      transform: skewX(-1.5deg) translateX(0.2vh);
      &--horizon {
        transform: skewY(-1.5deg) translateY(0.2vw);
      }

      > .indicator__next {
        opacity: 0.38;
      }
    }
    &--level4 {
      transform: skewX(-2.2deg) translateX(0.4vh);
      &--horizon {
        transform: skewY(-2.2deg) translateY(0.4vw);
      }

      > .indicator__next {
        opacity: 0.32;
      }
    }
    &--level5 {
      transform: skewX(-3deg) translateX(0.7vh);
      &--horizon {
        transform: skewY(-3deg) translateY(0.7vw);
      }

      > .indicator__next {
        opacity: 0.25;
      }
    }
    &--level6 {
      transform: skewX(-3.8deg) translateX(1.1vh);
      &--horizon {
        transform: skewY(-3.8deg) translateY(1.1vw);
      }

      > .indicator__next {
        opacity: 0.17;
      }
    }
    &--level7 {
      transform: skewX(-5deg) translateX(1.7vh);
      &--horizon {
        transform: skewY(-5deg) translateY(1.7vw);
      }

      > .indicator__next {
        opacity: 0.08;
      }
    }
    &--level8 {
      transform: skewX(-6.5deg) translateX(2.5vh);
      &--horizon {
        transform: skewY(-6.5deg) translateY(2.5vw);
      }

      > .indicator__next {
        opacity: 0;
      }
    }
    &--level-1 {
      transform: skewX(0.5deg);
      &--horizon {
        transform: skewY(0.5deg);
      }

      > .indicator__prev {
        opacity: 0.47;
      }
    }
    &--level-2 {
      transform: skewX(1deg);
      &--horizon {
        transform: skewY(1deg);
      }

      > .indicator__prev {
        opacity: 0.43;
      }
    }
    &--level-3 {
      transform: skewX(1.5deg) translateX(0.2vh);
      &--horizon {
        transform: skewY(1.5deg) translateY(0.2vw);
      }

      > .indicator__prev {
        opacity: 0.38;
      }
    }
    &--level-4 {
      transform: skewX(2.2deg) translateX(0.4vh);
      &--horizon {
        transform: skewY(2.2deg) translateY(0.4vw);
      }

      > .indicator__prev {
        opacity: 0.32;
      }
    }
    &--level-5 {
      transform: skewX(3deg) translateX(0.7vh);
      &--horizon {
        transform: skewY(3deg) translateY(0.7vw);
      }

      > .indicator__prev {
        opacity: 0.25;
      }
    }
    &--level-6 {
      transform: skewX(3.8deg) translateX(1.1vh);
      &--horizon {
        transform: skewY(3.8deg) translateY(1.1vw);
      }

      > .indicator__prev {
        opacity: 0.17;
      }
    }
    &--level-7 {
      transform: skewX(5deg) translateX(1.7vh);
      &--horizon {
        transform: skewY(5deg) translateY(1.7vw);
      }

      > .indicator__prev {
        opacity: 0.08;
      }
    }
    &--level-8 {
      transform: skewX(6.5deg) translateX(2.5vh);
      &--horizon {
        transform: skewY(6.5deg) translateY(2.5vw);
      }

      > .indicator__prev {
        opacity: 0;
      }
    }
  }

  &__static {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0.3rem;
    height: 0.3rem;

    > .scroll-indicator__static {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;

      &--horizon {
        width: 100vw;
        height: 100%;
      }
    }
  }
}

.indicator {
  position: absolute;
  width: 100%;
  height: 100%;

  &__next {
    opacity: 0.5;

    @include two-color-gradient(rgb(225, 246, 255), rgb(91, 174, 247), 0deg);

    &--horizon {
      @include two-color-gradient(
        rgb(225, 246, 255),
        rgb(91, 174, 247),
        270deg
      );
    }
  }

  &__prev {
    opacity: 0.5;

    @include two-color-gradient(rgb(123, 228, 106), rgb(218, 255, 231), 0deg);

    &--horizon {
      @include two-color-gradient(
        rgb(123, 228, 106),
        rgb(218, 255, 231),
        270deg
      );
    }
  }
}

@keyframes loadingSkeleton {
  0% {
    background-position: -20rem 0;
  }
  100% {
    background-position: 20rem 0;
  }
}
